@model CNPJMVC.Models.Loja

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Loja</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome_Completo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome_Completo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CNPJ)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CNPJ)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdLoja">Editar</a> |
    <a asp-action="Index">Voltar para a lista</a>
</div>
