@model IEnumerable<CNPJMVC.Models.Loja>

@{
    ViewData["Title"] = "Lista de Cadastrados";
}

<h2>Lista de Cadastrados</h2>

<p>
    <h3>Bem Vindo</h3>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CNPJ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome_Completo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CNPJ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome_Completo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdLoja">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdLoja">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdLoja">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
